main {
    .skills-section {
        text-align: center;
        margin-bottom: 5.8rem;

        .section-intro {
            background: url('https://zerodiverse.s3.eu-west-3.amazonaws.com/webp/bg_skills_section.webp') no-repeat;
            background-size: cover;
            background-position: center;
            height: 21.75rem;

            h2 {
                text-align: center;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                padding: 3.25rem 0;
                /* or 556% */
                text-transform: uppercase;
                color: getColor(primaryWhite);
            }
        }

        .skills {
            width: 90%;
            margin: auto;
            margin-top: -13.75rem;
            background: #FFFFFF;
            border: 2px solid #F1F4F7;
            box-sizing: border-box;
            box-shadow: 0px 0px 30px rgba(119, 125, 255, 0.2);
            border-radius: 30px;

            .skill {
                padding-top: 3rem;
                border-bottom: 1px solid #E6ECF8;
                padding-bottom: 2rem;

                video {
                    width: 6.06rem;
                }

                .h4 {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 24px;
                    text-transform: uppercase;
                    color: getColor(contrastBlue);
                }

                h3 {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 24px;
                    text-transform: uppercase;
                }

                p {
                    color: getColor(silver);
                }

                .skill-tools {
                    ul {
                        margin-left: 0;
                        padding-left: 0;

                        li {
                            font-style: normal;
                            font-weight: normal;
                            font-size: 12px;
                            line-height: 24px;
                            color: getColor(silver);
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    main {
        .skills-section {
            margin-bottom: 10rem;
            .section-intro {
                height: 586px;

                h2 {
                    font-size: 2rem;
                    line-height: 111px;
                }
            }

            .skills {
                margin-top: -23rem;
                display: grid;
                grid-template-columns: repeat(3, 1fr);

                .skill:first-child {
                    border: 0;
                    border-right: 1px solid #E6ECF8;
                }

                .skill:last-child {
                    border: 0;
                    border-left: 1px solid #E6ECF8;
                }

                .skill {
                    h3 {
                        margin-bottom: 2rem;
                    }

                    .language {
                        margin-bottom: 4rem;
                    }

                    .h4 {
                        margin-bottom: 0.75rem;
                    }

                    h3,
                    .h4,
                    p,
                    .skill-tools ul li {
                        font-size: 1rem;
                    }

                    padding-bottom: 8rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 1920px) {
    main {
        .skills-section {
            margin-bottom: 15rem;
            .section-intro {

                h2 {
                    font-size: 2.5rem;
                }
            }

            .skills {
                .skill {
                    h3,
                    .h4,
                    p,
                    .skill-tools ul li {
                        font-size: 1.1875rem;
                    }
                }
            }
        }
    }
}