/* Introduction Section */
main {
    .introduction-section {
        background: url("https://zerodiverse.s3.eu-west-3.amazonaws.com/webp/intro_bg.webp") no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .intro-main {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h1 {
                font-family: 'EurostileBold', 'Courier New', Courier, monospace, sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: initial;
                text-align: center;
                color: getColor(primaryWhite);
                margin-top: 0;
            }

            p {
                color: getColor(primaryWhite);
                text-align: center;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                width: 80%;
                margin-bottom: 0;
                margin-top: 0;
            }
        }
    }
}

/* Introduction section */
@media only screen and (min-width: 300px) {

    /* Introduction Section */
    main {
        .introduction-section {
            .intro-main {
                h1 {
                    font-size: 30px;
                }

                p {
                    font-size: 15px;
                }
            }
        }
    }

    /* Introduction section */
}


@media only screen and (min-width: 1024px) {
    main {
        .introduction-section {
            align-items: flex-start;
            display: block;

            .intro-main {
                max-width: 70%;
                margin: auto;
                align-items: flex-start;
                justify-content: center;
                height: 100vh;
                transform: translateY(4rem);

                h1 {
                    //margin-top: 10%;
                    text-align: start;
                    font-size: 4.3rem;
                }

                p {
                    text-align: start;
                    font-size: 1rem;
                    line-height: 2.5rem;
                }
            }

        }
    }
}

@media only screen and (min-width: 1024px) {
    main{
        .introduction-section{
            .intro-main{
                p{
                    font-size: 1.25rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 1280px) {
    main{
        .introduction-section{
            .intro-main{
                p{
                    font-size: 1.25rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 1440px) {
    main{
        .introduction-section{
            .intro-main{
                p{
                    font-size: 1.5rem;
                }
            }
        }
    }
}


@media only screen and (min-width: 1920px) {
    main {
        .introduction-section {
            .intro-main {
                h1 {
                    font-size: 5.3rem;
                }

                p {
                    font-size: 30px;
                    line-height: 48px;
                }
            }
        }
    }
}