@import '../../scss/abstract/colors';
@import '../../scss/abstract/functions';

.contact-page {
    width: 100%;
    main {
        background: url("https://zerodiverse.s3.eu-west-3.amazonaws.com/webp/intro_bg.webp") no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 100vh;
        width: 100vw;
        padding-top: 5rem;

        .form {
            form {
                display: flex;
                flex-direction: column;
                justify-items: center;
                align-items: center;

                legend {
                    text-transform: uppercase;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 111px;
                    text-transform: uppercase;
                    color: getColor(primaryWhite);
                }

                .btn-primary {
                    margin-top: 2rem;
                    margin-bottom: 2.75rem;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    cursor: pointer;
                }
            }
        }
    }


    footer {
        display: none;
    }

}

@media screen and (min-width: 1024px) {
    .contact-page {
        main {
            .form {
                width: 70%;
                margin: auto;
                margin-top: 2rem;

                form {
                    legend {
                        font-size: 1.5rem;
                        line-height: 0;
                        margin: 3rem auto;
                    }
                    
                    .btn-primary {
                        background: transparent;
                        border: 1px solid getColor(white);
                        height: 2.5rem;
                        margin-top: 1.5rem;
                        width: 8rem;
                        font-size: 1rem;
                        margin-bottom: 0;

                        &:hover {
                            color: getColor(primaryBlue);
                            background-color: getColor(primaryWhite);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    .contact-page {
        main {
            max-height: 100vh;
            .form {
                width: 70%;
                margin: auto;
                margin-top: 7rem;

                form {
                    legend {
                        font-size: 2rem;
                    }

                    .btn-primary {
                        font-size: 1.25rem;
                        height: 3rem;
                        width: 10rem;
                        margin-top: 2.25rem;
                    }
                }
            }
        }
    }
}