main {
    .about-section {
        margin-bottom: 13.5rem;

        .section-intro {

            img,
            video {
                width: 22.5rem;
                transform: translateX(-6rem);
            }
        }

        .section-main {
            text-align: center;
            width: 87.5%;
            margin: auto;
            margin-top: 4rem;

            h2 {
                text-transform: uppercase;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
            }

            p {
                color: getColor(silver);
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 24px;
            }
        }
    }
}

@media only screen and (min-width: 330px) {
    main {
        .about-section {
            .section-intro {

                img,
                video {
                    width: 24.5rem;
                    transform: translateX(-4rem);
                }
            }
        }
    }
}

@media only screen and (min-width: 400px) {
    main {
        .about-section {
            .section-intro {

                img,
                video {
                    width: 27.5rem;
                    transform: translateX(-4rem);
                }
            }
        }
    }
}

@media only screen and (min-width: 572px) {
    main {
        .about-section {
            .section-intro {

                img,
                video {
                    width: 40rem;
                    transform: translateX(-4rem);
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    main {
        .about-section {
            .section-intro {

                img,
                video {
                    width: 48rem;
                    transform: translateX(-4rem);
                }
            }
        }
    }
}

@media only screen and (min-width: 1280px) {
    main{
        .about-section{
            display: flex;
            padding: 0;
            transform: translateX(-7rem);
            align-items: flex-end;
            margin-bottom: 19.5rem;
            .section-intro{
                img, video{
                    width: 52rem;
                }
            }
            .section-main{
                margin-bottom: 2rem;
                margin-top: auto;
                h2{
                    font-size: 2rem;
                    text-align: start;
                }
                p{
                    font-size: 1rem;
                    text-align: start;
                }
            }
        }
    }
}

@media only screen and (min-width: 1440px) {
    main{
        .about-section{
            display: flex;
            padding: 0 7.5%;
        }
    }
}

@media only screen and (min-width: 1920px) {
    main{
        .about-section{
            display: flex;
            padding: 0 8%;
            transform: translateX(-16rem);
            margin-bottom: 27.5rem;
            .section-intro{
                img, video{
                    width: 66rem;
                    transform: translateX(0);
                }
                margin-right: 5rem;
            }
            .section-main{
                h2{
                    font-size: 2.5rem;
                }
                p{
                    font-size: 1.1875rem;
                }
            }
        }
    }
}